<div class="container">
    <div class="header flex">
        <a href="#">
            <img class="header__logo" src="img/logo.svg" title="Яндекс Дом логотип" alt="Яндекс дом логотип">
        </a>
        <div class="nav flex flex-jc-sb">
                <a class="nav__item" href="#"><span class="nav__text">Сводка</span></a>
            <a class="nav__item" href="#"><span class="nav__text">Устройства</span></a>
            <a class="nav__item" href="#"><span class="nav__text">Сценарии</span></a>
            </ul>
        </div>
    </div>
</div>
<div class="line"></div>