<div class="container">
    <div class="main flex flex-al-fs">
        <div class="half main__content">
            <div class="main__title">Главное</div>
            <div class="card flex flex-al-fs">
                <div class="card__item-1">
                    <div class="card__text-1">Привет, Геннадий!</div>
                    <div class="card__text-2">Двери и окна закрыты, сигнализация включена.</div>
                    <div class="temperat flex">
                        <div class="temperat__item">
                            <div class="temperat__text-1">Дома</div>
                            <div class="temperat__text-2">+23</div>
                        </div>
                        <div class="temperat__item temperat_m-l">
                            <div class="temperat__text-1">За окном</div>
                            <div class="temperat__text-2">+19</div>
                            <div class="temperat__icon" ></div>
                        </div>
                    </div>
                </div>
                <div class="card__item-2">
                    <div class="item item_mt-1">
                        <div class="icon-temperature"></div>
                        <div class="item__content">
                            <div class="item__text-1">Philips Cooler</div>
                            <div class="item__text-2">Начнёт охлаждать в 16:30</div>
                        </div>
                    </div>
                    <div class="item item_mt-2">
                        <div class="icon-sun"></div>
                        <div class="item__content item__content_t">
                            <div class="item__text-1">Xiaomi Yeelight LED Smart Bulb</div>
                            <div class="item__text-2">Включится в 17:00</div>
                        </div>
                    </div>
                    <div class="item__more">
                        <div class="icon-more"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="half main__content">
            <div class="flex">
                <div class="main__title main__title_2">Избранные сценарии</div>
                <div class="icon-arrow-left"></div>
                <div class="icon-arrow-right"></div>
            </div>
            <div class="flex">
                <div class="item-small">
                    <div class="icon-sun-2"></div>
                    <div class="item-small__content item-small__content_t">
                        <div class="item-small__text-1">Выключить весь свет в доме и во дворе</div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="icon-sun-2"></div>
                    <div class="item-small__content ">
                        <div class="item-small__text-1">Я ухожу</div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="icon-sun-2"></div>
                    <div class="item-small__content item-small__content_t">
                        <div class="item-small__text-1">Включить свет в коридоре</div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="icon-sun-2"></div>
                    <div class="item-small__content item-small__content_t">
                        <div class="item-small__text-1">Набрать горячую ванну</div>
                        <div class="item-small__text-2">Начнётся в 18:00</div>
                    </div>
                </div>
                <div class="item-small">
                    <div class="icon-sun-2"></div>
                    <div class="item-small__content item-small__content_t">
                        <div class="item-small__text-1">Сделать пол тёплым  во всей квартире</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured">
            <div class="flex">
                <div class="featured__item">
                    <div class="featured__text-1">Избранные устройства</div>
                    <button class="featured__button">Все</button>
                    <button class="featured__button">Кухня</button>
                    <button class="featured__button">Зал</button>
                    <button class="featured__button">Лампочки</button>
                    <button class="featured__button">Камеры</button>
                </div>
                <div class="featured__item">
                    <div class="icon-arrow-left"></div>
                    <div class="icon-arrow-right"></div>
                </div>
            </div>
            <div class="flex">
                <div class="item">
                    <div class="icon-temperature"></div>
                    <div class="item__content">
                        <div class="item__text-1">Philips Cooler</div>
                        <div class="item__text-2">Начнёт охлаждать в 16:30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon-temperature"></div>
                    <div class="item__content">
                        <div class="item__text-1">Philips Cooler</div>
                        <div class="item__text-2">Начнёт охлаждать в 16:30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon-temperature"></div>
                    <div class="item__content">
                        <div class="item__text-1">Philips Cooler</div>
                        <div class="item__text-2">Начнёт охлаждать в 16:30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon-temperature"></div>
                    <div class="item__content">
                        <div class="item__text-1">Philips Cooler</div>
                        <div class="item__text-2">Начнёт охлаждать в 16:30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon-temperature"></div>
                    <div class="item__content">
                        <div class="item__text-1">Philips Cooler</div>
                        <div class="item__text-2">Начнёт охлаждать в 16:30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon-temperature"></div>
                    <div class="item__content">
                        <div class="item__text-1">Philips Cooler</div>
                        <div class="item__text-2">Начнёт охлаждать в 16:30</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
